body{
    min-height: 2000px;
}

.jumbotron {
    padding-top: 10rem;
    background: url("img/home.png") center no-repeat;
    color:white;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
