body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 10rem;
  background: url("img/home.png") center no-repeat;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ration 16:9 ( 100%/16*9 = 56.25% ) */
}

.iframe-container > * {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

.kartu{
    width: 80%;
    height: 80%;
}

section.potret > div > div > div > div > div > * {
  color: black;
}